$yellowish: #79801e;
$landingyellow: #f7ea3b;
$grey: #bdbbbb;
$blue: rgb(13, 13, 119);
$green: rgb(46, 122, 46);
$red: rgb(250, 16, 16);
$whiteish: rgba(255, 255, 255, 0.692);
$indigo: rgb(137, 13, 194);
$font-weights: (
  "regular": 400,
  "bold": 700,
  "medium": 500
);
$text-color: #fff;

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin card() {
  width: 400px;
  height: 400px;
  margin: 30px;
  padding: 13px;
  border-radius: 20px;
  background-color: $grey;
  text-align: center;
  box-shadow: 5px 5px 3px 4px rgba(31, 28, 28, 0.685),
    inset 5px 5px 3px darken($text-color, 50%);

  @media (max-width: 800px) {
    height: 250px;
    border-radius: 10px;
  }

  .titles {
    padding: 30px;
  }
}

@mixin flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

@mixin image($firstBg, $secondBg) {
  background: $firstBg center center/cover no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 30px;
  -webkit-transition: color, background-image 500ms ease-in-out;
  transition: color, background-image 500ms ease-in-out;
  text-align: center;
  position: relative;

  p {
    position: absolute;
    top: 120px;
  }

  &:hover {
    background: $secondBg center center/ cover no-repeat;
    color: $text-color;
  }
}

// landing Sets
@mixin mobile($mq) {
  @media screen and (max-width: $mq +px) {
    @content;
  }
}

@mixin headerStyle {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.822);
    // line-height: 10px;

    .container-item {
      width: 100%;
    }

    .nav-wrapper {
      padding: 0 0;

      ul li:nth-child(1) {
        background-color: adjust-hue($blue, 50deg);
      }
      ul li:nth-child(2) {
        background-color: saturate($green, 50%);
      }
      ul li:nth-child(3) {
        background-color: complement($landingyellow);
      }
      ul li:nth-child(4) {
        background-color: desaturate(orange, 20%);
      }
      ul li:nth-child(5) {
        background-color: fade-out(firebrick, 0.6);
      }
    }

    .heads-up-item {
      display: flex;
      padding: 0;
      list-style-type: none;
      margin: 0 auto;
      border: 1px solid transparent;

      .heads-up-items {
        font-size: 15px;
        line-height: 10px;
        padding: 20px 10px;
        transition: background-color, font-size 500ms ease-in-out;

        a {
          text-decoration: none;
          color: $text-color;
        }

        &:hover {
          font-size: 20px;
        }
      }
    }

    img:hover {
      animation: flip 500ms ease-in-out 200ms 2 normal;
      animation-fill-mode: backwards;

      @keyframes flip {
        0% {
          transform: rotateY(0);
        }
        25% {
          transform: rotateY(90deg);
        }
        50% {
          transform: rotateY(180deg);
        }
        75% {
          transform: rotateY(270deg);
        }
        100% {
          transform: rotateY(360deg);
        }
      }
    }
  }
}
