body {
  background-color: #c0c0c0;
  margin: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.shift {
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
}

.shift h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
  margin-left: 70px;
  margin-top: 150px;
}

.shift button {
  background: none;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.7em;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 70px;
  color: red;
}

.shift button:hover {
  border: 1px solid blue;
}

.panel {
  position: absolute;
  width: 55%;
  bottom: 0;
  right: 0;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #9c9c9c;
  padding: 15% 7%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.panel img {
  float: left;
  margin-right: 20px;
  width: 100px;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.panel p {
  font-size: 1.5em;
  width: 70%;
  opacity: 0;
}

.panel .box {
  border: 5px solid #686464;
  width: 65%;
  height: 40%;
  position: absolute;
  top: 15%;
  left: -7%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 1100px) {
  body {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shift {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  .shift h1 {
    font-size: 3em;
    width: 20%;
    color: red;
    line-height: 1em;
    margin-left: 70px;
    margin-top: 150px;
  }
  .shift button {
    background: none;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 70px;
    color: red;
    -webkit-transition: border 500ms ease-in;
    transition: border 500ms ease-in;
  }
  .shift button:hover {
    border: 1px solid blue;
  }
  .panel {
    width: 45%;
  }
  .panel img {
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  body {
    max-width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shift {
    -webkit-transform: translateX(100px) translateY(100px);
            transform: translateX(100px) translateY(100px);
  }
  .shift h1 {
    font-size: 2em;
    width: 15%;
    color: red;
    line-height: 1em;
    margin-left: 70px;
    margin-top: 150px;
  }
  .shift button {
    background: none;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 70px;
    color: red;
  }
  .shift button:hover {
    border: 1px solid blue;
  }
  .panel {
    width: 45%;
  }
}
/*# sourceMappingURL=making.css.map */